article{
  border: 2px solid #265866;
  background-color: #93ACB1;
  width: 100px;
  padding-top: 60px;
  margin-bottom: 10px;
}

div{
  align-content: center;

  &.computer-board {
    justify-content: space-around;
  }
  
  &.player-board{

    align-content: center;
    flex-direction: column;
  }
  
  &.cards {
    display: none;
    justify-content: space-around;
    img {
      width: 25% auto;
    }
  }

}
article{
  &.rock{
    background-image: url(../RPS\ icons/rock.png);
    background-size: 70px;
  }
}
