


article{
  border: 2px solid #265866;
  background-color: #93ACB1;
  width: 100px;
  padding-top: 60px;
  margin-bottom: 10px;
}

div {

  &.game{
    display: flex;
    flex-direction: column;
  }

  &.header-game{
    display: flex;
    justify-content: space-between; 
  }

  &.computer-board {
    display: flex;
    justify-content: space-around;
    margin-bottom: 35px;
      img {
        width: 25% ;
      }
  }


  &.player-board{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;  }
  
  &.cards {
    display: flex;
    justify-content: center;
    padding-top: 15px;
    img {
      width: 25% ;

      &:hover{
        box-shadow: 0px 0px 20px $dark-gray;
        border-radius: 50%;
      }
      &.disable{
        opacity: 0.5;
      }
      .paper{
        padding-top: 68px;
      }
    }
  }
  

}

span{
  font-size: 20px;
  font-weight: 600;
  color:$cadet-blue;

  &.round{
    display: flex;
    justify-content: center;
    font-size: 40px;
    text-align: center;
    padding-top: 80px;
  }
  &.timer{
    font-size: 15px;
  }

}

.pc-scissors {
  display: block;
  box-sizing: border-box;
  background: url(http://akamaicovers.oreilly.com/images/9780596517748/cat.gif) no-repeat;
  width: 180px;
  height: 236px;
  padding-left: 180px;
}