div{
  &.splash{
    display: flex;
    align-items: center;
    flex-direction: column;  
    margin-bottom: 20px;
    text-align: center;
  }
  
  &.how-to {
    align-self: flex-end;
    padding-top: 20px;
  }

  &.icon{
       padding-top: 10px;
       margin-bottom: 10px;
       display: flex;
       justify-content: center;
  }
  
  img {

    &.icon {
      width:20%;
    }
    &.gif{
      width:27%;
    }
  }
  
}



