

// Colors!
//-- Greenish
$light-steel-blue:#B4C4C9;
$light-slate-gray:#93ACB1;
$cadet-blue:#5A9394;
$Sea-green:#265866;

//-- Greyish
$dark-gray:#9F9F9F;
$silver:#BCBCBC;
$gray:#7C7C7C;
$dim-gray:#474747;