
/* ---- reset ---- */

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
}


/* ---- typography ---- */

body {
  color: #111;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 147%;
}

h1 {
  padding-top: 10px;
  margin-bottom: 10px;
  font-size: 25px;
}

h2 {}

h3 {}

p {
  margin: 0;
}

label{
  padding-top: 10px;
  margin-bottom: 8px;
  font-size: 14px;
}

input{
  margin-bottom: 10px;
  font-size: 14px;
  text-align: center;
  border-radius: 3px;
  color: #265866;
 
}


/* ---- layout ---- */


.container {
  padding-top: 30px;
  margin: 0 20px;
}


@media (min-width: 768px) {
  .container {
    max-width: 728px;
    margin: 0 auto;
  }
}


/* ---- Game Components ---- */


.button {
  margin-bottom: 20px;
  padding: 3px;
  background-color: #93ACB1;
  color: #FAFAFA;
  width: 150px;
  font-size: 16px;
  border-radius: 3px;
  text-transform: uppercase;
}

/* ---- Game Components splash---- */

div.splash{
  display: flex;
  align-items: center;
  flex-direction: column;  
  margin-bottom: 20px;
  color: #265866;
}

div.how-to {
  align-self: flex-end;
}

div.how-to button {
  width: auto;
  justify-self: end;
  border-radius: 5px;
  text-transform: none;
  background-color: #B4C4C9;
}



/* ---- Game Components gameMain---- */

article{
  border: 2px solid #265866;
  background-color: #93ACB1;
  width: 100px;
  padding-top: 60px;
  margin-bottom: 10px;
}

div.computer-board {
  display: flex;
  justify-content: space-around;
}

div.player-board{
  display: flex;
  align-content: center;
  flex-direction: column;
}

div.cards {
display: flex;
justify-content: space-around;
}

